body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

table {
    border: 1px solid #555;
    margin-left: auto;
    margin-right: auto;
    background-color: #444;
}

input[type="button"] {
    width: 100%;
    padding: 20px;
    background-color: #555;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Color changes for specific buttons */
input[value="="], input[value="-"], input[value="x"], input[value="+"], input[value=","], 
input[value="."], input[value="%"], input[value="!"], input[value="/"], input[value="("], 
input[value=")"], input[value="^"] {
    background-color: #228B22; /* Green */
}

input[value="cos("], input[value="sin("], input[value="tan("], input[value="log("], 
input[value="exp("], input[value="l10e"], input[value="l2e"], input[value="log10("], 
input[value="ln2"], input[value="sqrt("], input[value="E"], input[value="pi"] {
    background-color: #4682B4; /* Marine Blue */
}

/* Darker shade on hover */
input[type="button"]:hover {
    background-color: #333;
}

/* Orange color for "C" button */
input[value="C"] {
    background-color: orange;
}

input[type="text"] {
    padding: 20px 240px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid #555;
    text-align: left;
    background-color: #333;
    color: #fff;
}

display {
    text-align: left;
}
